In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

             title  year
0   Orlando Vargas  2005
1         Niu-Peng  1989
2    Anandabhadram  2005
3   Mahendra Varma  1993
4  Beomdiga shidae  1970

In [4]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

### How many movies are listed in the titles dataframe?

In [5]:
len(titles)

214591

In [8]:
titles.head()

             title  year
0   Orlando Vargas  2005
1         Niu-Peng  1989
2    Anandabhadram  2005
3   Mahendra Varma  1993
4  Beomdiga shidae  1970

In [10]:
t = titles
t[t.title == 'Macbeth'].sort('year').tail()

C:\Users\Jlvengo\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

          title  year
5317    Macbeth  2009
7263    Macbeth  2013
148172  Macbeth  2014
6651    Macbeth  2015
26025   Macbeth  2016

### What are the earliest two films listed in the titles dataframe?

In [11]:
titles.tail(2)

               title  year
214589  Under Heaven  2015
214590     Gosokdoro  1987

### How many movies have the title "Hamlet"?

In [16]:
t = titles
len(t[t.title == 'Hamlet'])

19

In [13]:
'Hamlet (II)'.startswith('Hamlet')

True

In [14]:
t.title.str.startswith('The')

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9          True
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
214561    False
214562    False
214563    False
214564    False
214565     True
214566    False
214567    False
214568    False
214569    False
214570    False
214571    False
214572    False
214573    False
214574    False
214575    False
214576    False
214577    False
214578    False
214579    False
214580     True
214581    False
214582    False
214583    False
214584    False
214585    False
214586    False
214587    False
214588    False
214589    False
214590    False
Name: title, dtype: bool

In [15]:
t.title.str.len()

0         14
1          8
2         13
3         14
4         15
5          8
6         12
7         20
8         16
9         30
10        19
11        18
12        23
13        18
14        15
15        41
16         7
17        14
18         4
19         6
20         9
21        11
22        23
23        21
24        12
25         7
26        19
27         5
28         4
29        53
          ..
214561    33
214562    12
214563    13
214564    14
214565    19
214566    17
214567     5
214568     6
214569    22
214570    30
214571    25
214572    20
214573    14
214574    12
214575     9
214576    19
214577    15
214578    24
214579    15
214580    17
214581     4
214582    12
214583    13
214584    16
214585    11
214586     8
214587    16
214588    24
214589    12
214590     9
Name: title, dtype: int64

### How many movies are titled "North by Northwest"?

In [17]:
len(t[t.title == 'North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [18]:
t[t.title == 'Hamlet'].sort('year').head(1)

C:\Users\Jlvengo\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

         title  year
100923  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [36]:
t[t.title == 'Treasure Island'].sort_values(by=('year'))

                  title  year
48904   Treasure Island  1918
108475  Treasure Island  1920
89471   Treasure Island  1934
52435   Treasure Island  1950
118309  Treasure Island  1972
144139  Treasure Island  1973
191845  Treasure Island  1985
50325   Treasure Island  1999

### How many movies were made in the year 1950?

In [23]:
len(t[t.year == 1950])

1036

### How many movies were made in the year 1960?

In [25]:
len(t[t.year ==1960])

1461

### How many movies were made from 1950 through 1959?

In [27]:
len(t[(t.year >= 1950) & (t.year <= 1959)])

12110

In [28]:
len(t[t.year // 10 == 195])

12110

### In what years has a movie titled "Batman" been released?

In [29]:
t[t.title == 'Batman']

        title  year
16656  Batman  1989
56309  Batman  1943

### How many roles were there in the movie "Inception"?

In [31]:
c = cast
len(c[c.title == 'Inception'])

72

In [62]:
c = cast
c = c[c.title == 'Inception']
len(c)

72

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [32]:
c = cast
c = c[c.title == 'Inception']
c = c[c.n.isnull()]
len(c)

21

### But how many roles in the movie "Inception" did receive an "n" value?

In [33]:
c = cast
c = c[c.title == 'Inception']
c = c[c.n.notnull()]
len(c)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [38]:
c = cast
c = c[c.title == 'North by Northwest']
c = c[c.n.notnull()]
c = c.sort_values(by=('n'))
c

,title,year,name,type,character,n
773496,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3084579,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1292652,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
2776446,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
315343,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2685171,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1504777,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1130557,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2167754,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1607029,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
590702,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2033529,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
411247,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1339004,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
180985,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1228229,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [35]:
c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 1972]
c = c.sort_values(by=('n'))
c

,title,year,name,type,character,n
1513570,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
288502,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
330750,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1299944,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2406762,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1285278,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [40]:
c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 2007]
c = c.sort_values(by=('n'))
c

          title  year                 name     type          character    n
288503   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1147041  Sleuth  2007             Jude Law    actor               Milo  2.0
1602268  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
228757   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
330751   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2406761  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
2958823  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [42]:
c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1921)]
len(c)

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [43]:
c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1996)]
len(c)

55

### How many "Hamlet" roles have been listed in all film credits through history?

In [45]:
c = cast
c = c[c.character == 'Hamlet']
len(c)

81

### How many people have played an "Ophelia"?

In [46]:
c = cast
c = c[c.character == 'Ophelia']
len(c)

96

### How many people have played a role called "The Dude"?

In [47]:
c = cast
c = c[c.character == 'Dude']
len(c)

93

### How many people have played a role called "The Stranger"?

In [48]:
c = cast
c = c[c.character == 'The stranger']
len(c)

10

### How many roles has Sidney Poitier played throughout his career?

In [49]:
c = cast
c = c[c.name == 'Sidney Poitier']
len(c)

43

### How many roles has Judi Dench played?

In [51]:
c = cast
c = c[c.name == "Judi Dench"]
len(c)

51

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [52]:
c= cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 2]
c = c.sort_values(by=('year'))
c

                   title  year        name   type    character    n
773493  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
773503    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [53]:
c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 1]
c = c.sort_values(by=('year'))
c

,title,year,name,type,character,n
773518,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
773475,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
773520,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
773508,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
773522,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
773499,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
773466,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
773491,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
773492,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
773500,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
773458,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
773495,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
773494,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
773497,Notorious,1946,Cary Grant,actor,Devlin,1.0
773514,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick,1.0
773515,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
773490,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
773470,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
773479,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [55]:
c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actor']
len(c)

147951

### How many roles were avilable for actresses in the 1950s?

In [57]:
c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actress']
len(c)

53969

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [59]:
c = cast
c = c[c.year <= 1980]
c = c[c.n == 1]
len(c)

61444

### How many non-leading roles were available through from the beginning of film history through 1980?

In [60]:
c = cast
c = c[c.year <= 1980]
c = c[c.n != 1]
len(c)

1047877

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [61]:
c = cast
c = c[c.year <= 1980]
c = c[c.n.isnull()]
len(c)

415167